@{
    ViewData["Title"] = "Search Page";
    Layout = "~/views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <body>

    <!-- main content  -->
    <div class="container-fluid px-4">
        <div class="no-content d-flex justify-content-center align-items-center flex-column">
            <img src=@Url.Content("~/images/empty-box.svg" ) alt="Empty Box"/>
            <p class="mt-2 gray-text">لا توجد نتائج بحث</p>
        </div>

    </div>



    </body>
    </html>
