@{
    ViewData["Title"] = "Stastic Page";
    Layout = "~/views/Shared/_Layout.cshtml";
}


    <div class="row statistics">
        <div class="chart-box col-12 col-md-4">
            <p class="chart-label ">عدد الزوار</p>
            <canvas id="myChart" style="height: 360px;width: 720px;"></canvas>
            <p class="">دقيقة</p>
        </div>
        <div class="chart-box col-12 col-md-3">
            <p class="chart-label ">التفاعل خلال اليوم</p>
            <canvas id="myLineChart" style="height: 360px;width: 720px;"></canvas>
        </div>
        <div class="chart-box col-12 col-md-4">
            <p class="chart-label ">فترات تفاعل الأعضاء</p>
            <canvas id="myChart2" style="height: 360px;width: 720px;"></canvas>
        </div>
        <div class="chart-box col-12 col-md-2">
            <h5>hi</h5>
        </div>
    </div>

       