@{
    ViewData["Title"] = "ComblineList page";
    Layout = "~/views/Shared/_Layout.cshtml";
}



    <!-- main content  -->
    <div class="container-fluid main-content px-4">
        <div class="col-12 main-header px-2 px-md-5 py-2 rounded-3 d-flex justify-content-between flex-wrap">
            <h4 class="m-0 py-2">أنشئ بلاغ أو شكوى</h4>
            <button class="btn comlaints-btn btn-sm  px-2 px-md-4" type="button" onclick="goToComplaints()">
                أضف بلاغ جديد <span>
                    <i class="fa-solid fa-plus"></i>
                </span>
            </button>
        </div>
        <div class="table-responsive mt-4">
            <table id="mycomplaints" class="table table-responsive table-hover text-center" style="width:100%">
                <thead>
                    <tr>
                        <th>دائرة الشكوى</th>
                        <th>عنوان الشكوى</th>
                        <th>نوع الخدمة</th>
                        <th>تاريخ الإنشاء</th>
                        <th>الحالة</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>النظافة العامة</td>
                        <td>إعادة تأهيل الحدائق العامة</td>
                        <td>طلب نظافة عام</td>
                        <td>٢٣ ابريل ٢٠٢٣</td>
                        <td>جديد</td>
                    </tr>
                    <tr>
                        <td>النظافة العامة</td>
                        <td>مياه العيون والأفلاج</td>
                        <td>طلب نظافة عام</td>
                        <td>٢٣ ابريل ٢٠٢٣</td>
                        <td>قيد العمل</td>
                    </tr>
                    <tr>
                        <td>النظافة العامة</td>
                        <td>شارع النجاح بين الواقع والمفترض.</td>
                        <td>طلب نظافة عام</td>
                        <td>٢٣ ابريل ٢٠٢٣</td>
                        <td>مغلق</td>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>

